<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Recorder</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="static/recorder.css">
    <!-- Añadir Prism.js para resaltar la sintaxis -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/themes/prism-okaidia.min.css" rel="stylesheet" />
  </head>
  <body>
    <h1>Bienvenido al Asistente de Raspberry Pi</h1>

    <div class="container">
        <div class="row mt-3 px-3">
            <div class="col-12 text-center">
                <button type="button" class="btn-record btn-record-green" id="record" onclick="record()">
                    <img class="mic-img" src="static/img/microphone.png" />
                </button>
                <button type="button" class="btn-record btn-record-red" id="stop" onclick="stop()" style="display:none">
                    <img class="mic-img" id="record-stop-label" src="static/img/microphone.png" />
                    <span id="record-stop-loading" style="display: none"><span class="spinner-border spinner-border-sm record-spinner" role="status" aria-hidden="true"></span></span>
                </button>
            </div>
            <div class="col-12 text-center mt-2">
                <div id="text"></div>
            </div>
        </div>

        <!-- Contenedor para mostrar el código del buzzer -->
        <div class="row mt-3 px-3">
            <div class="col-12">
                <pre><code id="buzzer-code" class="language-python"></code></pre>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <!-- Añadir Prism.js para resaltar la sintaxis -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/components/prism-core.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/plugins/autoloader/prism-autoloader.min.js"></script>

    <script src="static/recorder.js"></script>

    <script type="text/javascript">
        recorder("/audio", response => {
            document.getElementById("record").style.display="";
            document.getElementById("stop").style.display="none";
            if (!response || response == null) {
                console.log("No response");
                return;
            }
            console.log("El texto fue: " + response.text)
            document.getElementById("text").innerHTML = response.text;
            if (typeof response.file !== "undefined") {
                audioFile = response.file;
                let audio = new Audio();
                audio.setAttribute("src", "static/" + audioFile);
                audio.play();
            }
            if (typeof response.code !== "undefined") {
                document.getElementById("buzzer-code").textContent = response.code;
                Prism.highlightAll(); // Resaltar la sintaxis
            } else {
                document.getElementById("buzzer-code").textContent = ""; // Borrar el código si no es relevante
            }
        });
   
         // Función genérica para mostrar código
         function showCode(endpoint, elementId) {
            fetch(endpoint)
                .then(response => response.json())
                .then(data => {
                    if (data.result === "ok") {
                        document.getElementById(elementId).textContent = data.code;
                        Prism.highlightAll(); // Resaltar la sintaxis
                    }
                });
        }

        // Llamar a la función para mostrar el código cuando se cargue la página
        showCode("examples/example_buzzer", "buzzer-code");
        showCode("examples/example_button_buzzer", "button_buzzer-code");
        showCode("examples/example_relay", "relay-code");
        showCode("commands", "relay-code");
    </script>

  </body>
</html>